<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow" >
    <div class="card-body">
      <h5 class="card-title">Speak English</h5>
      <p class="lead">Speak english for somebody who is in trouble and is not very thorough in it.</p>
      <div class="can-toggle demo-rebrand-1">
        <input id="speakEnglish" type="checkbox" {{data.speakEnglish}}>
        <label for="speakEnglish">
          <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
        </label>
      </div>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow" >
    <div class="card-body">
      <h5 class="card-title">Write a Letter</h5>
      <p class="lead">Write a letter for someone who wants to express himself maturely to some authority.</p>
      <div class="can-toggle demo-rebrand-1">
        <input id="writeLetter" type="checkbox" {{data.writeLetter}}>
        <label for="writeLetter">
          <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
        </label>
      </div>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow" >
    <div class="card-body">
      <h5 class="card-title">Book a Room</h5>
      <p class="lead">I have friends who run hotels or I have contacts and I can help in getting a room booked across Pakistan.</p>
      <div class="can-toggle demo-rebrand-1">
        <input id="bookARoom" type="checkbox" {{data.bookARoom}}>
        <label for="bookARoom">
          <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
        </label>
      </div>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow" >
    <div class="card-body">
      <h5 class="card-title">Guide a Local Tour</h5>
      <p class="lead">I have travelled a lot and I can help people plan their travels across Pakistan.</p>
      <div class="can-toggle demo-rebrand-1">
        <input id="localTourGuide" type="checkbox" {{data.localTourGuide}}>
        <label for="localTourGuide">
          <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
        </label>
      </div>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow" >
    <div class="card-body">
      <h5 class="card-title">Guide a Foreign Trip</h5>
      <p class="lead">I have travelled some countries and I can help people plan their travels abroad.</p>
      <div class="can-toggle demo-rebrand-1">
        <input id="ForeignTourGuide" type="checkbox" {{data.ForeignTourGuide}}>
        <label for="ForeignTourGuide">
          <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
        </label>
      </div>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow" >
    <div class="card-body">
      <h5 class="card-title">Physically Fight</h5>
      <p class="lead">I can fight for someone facing harrasment after some accident on road inside Pakistan (If he is near to my address).</p>
      <div class="can-toggle demo-rebrand-1">
        <input id="canFight" type="checkbox" {{data.canFight}}>
        <label for="canFight">
          <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
        </label>
      </div>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow" >
    <div class="card-body">
      <h5 class="card-title">Import or Export Stuff</h5>
      <p class="lead">I can send something from my country to Pakistan over DHL / Fedex. Also I can export from Pakistan.</p>
      <div class="can-toggle demo-rebrand-1">
        <input id="importExport" type="checkbox" {{data.importExport}}>
        <label for="importExport">
          <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
        </label>
      </div>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow" >
    <div class="card-body">
      <h5 class="card-title">Lend my Credit Card</h5>
      <p class="lead">I can pay for some online transaction over the internet if I am paid the amount in advance.</p>
      <div class="can-toggle demo-rebrand-1">
        <input id="creditCard" type="checkbox" {{data.creditCard}}>
        <label for="creditCard">
          <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
        </label>
      </div>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow" >
    <div class="card-body">
      <h5 class="card-title">Find a pptx Presentation</h5>
      <p class="lead">I have a good collection of presentations that can be helpful to students in universities or people delivering lectures in routine lives.</p>
      <div class="can-toggle demo-rebrand-1">
        <input id="pptx" type="checkbox" {{data.pptx}}>
        <label for="pptx">
          <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
        </label>
      </div>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow" >
    <div class="card-body">
      <h5 class="card-title">Do Crypto Currency</h5>
      <p class="lead">I have knowledge about crypto currencies and I can assist beginners in their transanctions.</p>
      <div class="can-toggle demo-rebrand-1">
        <input id="cryptoCurrency" type="checkbox" {{data.cryptoCurrency}}>
        <label for="cryptoCurrency">
          <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
        </label>
      </div>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow" >
    <div class="card-body">
      <h5 class="card-title">Suggest Medicines</h5>
      <p class="lead">I am a doctor and I can help somebody who is in need of urgent medical treatment.</p>
      <div class="can-toggle demo-rebrand-1">
        <input id="doctor" type="checkbox" {{data.doctor}}>
        <label for="doctor">
          <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
        </label>
      </div>
    </div>
  </div>
</div>
<div class=" col-lg-3 col-md-4 col-6 p-1 d-flex align-content-stretch">
  <div class="card shadow" >
    <div class="card-body">
      <h5 class="card-title">Listen</h5>
      <p class="lead">I am a good listener. I can listen to anybody who is experiencing some down time in his / her life.</p>
      <div class="can-toggle demo-rebrand-1">
        <input id="listen" type="checkbox" {{data.listen}}>
        <label for="listen">
          <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
        </label>
      </div>
    </div>
  </div>
</div>
