<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <title>Home - Help!</title>
</head>

<body class="bg-primary">

  <div id="mainBlock" class="d-md-flex mt-md-0 mt-3 align-items-center justify-content-center">
      <div class="col-md-6 col-12 lead">
        <div class="bg-light py-2 rounded shadow">

          <div class="px-4">
            <div class="position-absolute" style="top:0.3rem;right:2rem">
              <small><span style="cursor:pointer" data-toggle="modal" data-target=".pay-modal-lg" class="badge badge-pill badge-warning" id="creditBadge">Credit: {{credit}} left</span></small>
            </div>
            <p class="lead">Welcome <b>{{name}}</b>.</p>
            <p>This is your home page. You can <a href="/willingness/{{token}}">Edit your Willingness</a> here,</p>
            <p>Or raise a flag to seek help,</p>
          </div>

          <div id="payModal" class="modal fade pay-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog-centered modal-dialog modal-lg">
              <div class="modal-content p-1">
                <div class="modal-header">
                  <h5 class="modal-title">Buy Credits</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <b>Story:</b><br>
                  Each text message costs Rs 1 inside Pakistan. And approximately Rs 3 outside Pakistan. Running cost of servers is approximately Rs 1500 per month. Who will pay for it? Obviously You. :D <br><br>
                  <b>Rules are: </b><br>
                  1 credit is worth Rs 50. <br>
                  You can buy a minimum of Rs 500 (10 credits) <br> and maximum of Rs 50000 (1000 credits). <br><br>
                  <b>Pay at: </b><br>
                  Bank Account No: 0470 210109039‬ <br>
                  IBAN: PK23ASCM0000470210109039 <br>
                  Askari Bank Haider Road Rawalpindi Pakistan <br>
                </div>
              </div>
            </div>
          </div>


          <div class="bg-dark text-light py-2">
            <div class="px-4">
              <small><i class="fas fa-quote-left"></i><br></small>

              <p>I need a person who <a id="selectHelper" href="" data-toggle="modal" data-target=".bd-example-modal-lg">Can ... <small>(select one)</small></a></p>
              <form>
                <div class="form-group">
                  <label for="request">Some details which I believe the helper will need.</label>
                  <p><textarea type="text" class="bg-dark form-control text-light" id="request" aria-describedby="request" placeholder="I need a guest room in Murree for my family from Sunday to Monday." rows="4"></textarea></p>
                </div>
              </form>
              <p id="error-text" class="my-2 text-danger"></p>
              <button id="depositButton" type="button" class="btn btn-primary mb-1">Submit </button>
            </div>
          </div>

          <div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog-centered modal-dialog modal-lg">
              <div class="modal-content p-1">
                <div class="modal-header">
                  <h5 class="modal-title">Select One</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="d-flex justify-content-center flex-wrap">
                  {{> cardsHelp}}
                </div>
              </div>
            </div>
          </div>

          <div class="px-4 pt-3">
            <p id="pendingJob" class="d-none lead">You have a <a href="/newRequest/{{urlToJob}}">pending job</a> linked to you. Please clear when possible.</p>
            <a href="/logout/{{token}}" class="btn btn-outline-primary mb-1">Log Out</a>
          </div>

        </div>

      </div>
  </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript">
    wht = $(window).height();
    $('#mainBlock').height(wht);
    var selected = false;

    $(document).ready(() => {
      if (/pending|beingSolved/g.test('{{status}}')) {
        console.log('1 job is linked to this user');
        $('#pendingJob').removeClass('d-none');
      };
      console.log(`{{status}}`);

      if ({{credit}} === 0) {
        $('#creditBadge').html('No Credit, Please click here').toggleClass('badge-warning badge-danger');
        // $('#depositButton').attr('disabled',true).toggleClass('btn-primary btn-danger');
      }
    })

    $(document).on('mouseenter mouseleave','.card',function() {
      $('.card').css({cursor: 'pointer'}).each(function() {
        if ($(this).data('selected')) {
          selected = true;
          return;
        };
      });
      $('.card').toggleClass('shadow-sm text-muted')
      $(this).toggleClass('shadow-sm text-muted bg-primary');
    })

    $(document).on('click','.card',function() {
      $('.card').removeClass('bg-primary').addClass('shadow-sm text-muted').each(function() {
        $(this).data('selected',false);
      })
      $(this).addClass('bg-primary').removeClass('text-muted shadow-sm').data('selected',true);

      var helperSelected = $(this).find('.card-title').html().split('.')[0];
      $('#selectHelper').html(helperSelected+'.').data({'abilityNeeded':this.id,'abilityNeededElaborated':helperSelected});
      console.log('id =',this.id,'; id elaborated =', helperSelected);
      $('#myModal').modal('hide');
    })

    $(document).on('click','#depositButton',() => {
      var abilityNeeded = $('#selectHelper').data('abilityNeeded');
      var abilityNeededElaborated = $('#selectHelper').data('abilityNeededElaborated');
      console.log(abilityNeeded, abilityNeededElaborated);
      if ( !abilityNeeded || $('#request').val() === '' ) {
        return $('#error-text').html('Please select the person (helper) and write description of your request in above field.')
      }

      $('#error-text').html('');
      var data = {
        abilityNeeded,
        request: $('#request').val(),
        token : window.location.pathname.split('/')[2],
        abilityNeededElaborated,
      };
      data = encodeURIComponent(JSON.stringify(data));

      $.post(`/homeData/${data}`,{token: "{{token}}"})
        .done((msg) => {
          console.log(msg);
          location.reload();
        })
        .fail((xhr, status, error) => {
          console.log(xhr.responseText,status,error);
          $('#error-text').html(xhr.responseText);
        })
      })


  </script>
</body>

</html>
